<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed? %>
        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
      <% else %>
        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="..." checked>

      <% end %>
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create new task", new_task_path("tasks#new") %>
